<form [formGroup]="form">
  <form-field [formCtrlName]="'test'" [label]="'تست تست'"></form-field>
  <form-field [formCtrlName]="'test1'" [label]="'تست تست'"></form-field>
  <button type="submit" (click)="showFormValue()">test</button>
</form>
<form [formGroup]="form1" (ngSubmit)="showFormValue()">
  <form-field [formCtrlName]="'test2'" [label]="'تست تست'"></form-field>
  <form-field [formCtrlName]="'test3'" [label]="'تست تست'"></form-field>
  <form-field [formCtrlName]="'test4'" [label]="'تست تست'"></form-field>
  <button type="submit">test</button>
</form>
